body {
    background-color: black;
    font-family: Verdana;
    text-align:center;
}

h1, h2 {
    color:white;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-weight:300;
    font-size: 42px;
}
h3 {
    color:gray;
    font-size: 21px;
}

h4, a {
    color:aquamarine;
    font-size: 16px;
}